.section-container {
    width: 65%;
    margin: 20px 10px 20px;
    overflow: hidden;
} 
.section-container:hover {
    cursor: pointer;
}

a {
    color:inherit;
}
.section-container2 {
    width: 65%;
    margin: 20px 10px 20px;
    overflow: hidden;
    float: right;
} 
